[Unit]
Description=Servicio de Backend LevelUp Gamer
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/levelupgamer
EnvironmentFile=/etc/levelupgamer/environment.conf
ExecStart=/usr/bin/java -jar /var/www/backend/app.jar --spring.profiles.active=prod
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target